### Server

# Gateway
/server/gateway/node_modules
/server/gateway/.env

# Auth Micro-service
/server/services/authentication/node_modules
/server/services/authentication/.env

# Scheduler Micro-service
/server/services/scheduler/node_modules
/server/services/scheduler/.env

# Subscription Micro-service
/server/services/subscription/node_modules
/server/services/subscription/.env

# Notification Micro-service
/server/services/notification/node_modules
/server/services/notification/.env
/server/services/notification/alertwave-41801-firebase-adminsdk-8qeet-b3ab70224d.json


### Frontend

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/src/firebase.config.js

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
