### Server

# Gateway
/server/gateway/node_modules
/server/gateway/.env

# Auth Micro-service
/server/services/authentication/node_modules
/server/services/authentication/.env

# Scheduler Micro-service
/server/services/scheduler/node_modules
/server/services/scheduler/.env